.container {
    width: 100% ;
    height: 100vh;
    background-color: var(--Dark, #0B1D26);
    display: flex;
    gap: 130px;
    justify-content: center;
    padding: 100px 0;
    flex-wrap: wrap;
}

.container-left {
    width: 640px;
    height: 700px;
    position: relative;
    padding: 0 30px;
}

.container-right {
    width: 400px;
    height: 700px;
}
.number {
    color: var(--White, #FFF);
font-family: Open Sans;
font-size: 200px;
font-style: normal;
font-weight: 700;
line-height: 0%; /* 0px */
letter-spacing: 4.2px;
text-transform: uppercase;
opacity: 0.1;
position: absolute;
top: 154px;
left: -71px ;
}

.job {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 127px;
   }
   
   .job-line {
    width: 70px;
    height: 2px;
    background: #f7df1e;
   }
   
   .job-name {
    color: var(--Primary, #f7df1e);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 32.2px;
    letter-spacing: 4.2px;
    text-transform: uppercase;
   }
 

.title {
    margin-top: 20px;
    width: 580px;
    color: var(--White, #FFF);
    font-family: 'Brygada 1918', serif;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: 70.4px; 
}

.description {

    color: var(--White, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 36.8px; /* 230% */
    width: 580px;
}

.link {
    color: var(--Primary, #F7DF1E);
font-family: Open Sans;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 39.1px; 
gap: 10px;
display: flex;
margin-top: 16px;
}