body{
    display: flex;
    gap: 10px;
    flex-direction: row;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    align-items: center;
}


div { 
    width: 200px;
    height: 200px;
    background-color: palegreen;
    margin-bottom: 20px;
    border-radius: 200px;
    
}

.second {  
position: relative;
width: 600px;
height: 400px;
border-radius: 20px;
background-color: rgb(233, 255, 200);
}


.third {  
position: absolute;
right: 30px;
bottom: 30px;
}